* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: black;
    background-position: center center;
}

#time {
    margin-top: 100px;
    font-size: 8rem;
    border-radius: 20px;
    background-color: #cccccc;
    opacity: 0.7;
    padding: 10px;
}

#am-pm {
    position: absolute;
    top: 20px;
    left: calc(50vw - 20px);
    width: 60px;
    height: 60px;
    background: #000000;
    border-radius: 30px;
    opacity: 0.6;
    font-weight: bold;
    font-size: 1.3rem;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#am-pm span {
    font-size: 0.5rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media (max-width: 768px) {
    #time {
        font-size: 5rem;
    }
}

@media (max-width: 320px) {
    #time {
        font-size: 3rem;
    }
}
