/* containers */
.container_game {
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}


/* Game-window */
.game-window {
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.game-window__raindrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgba(21, 124, 207, 0.7);
    background: rgba(75,166,240,.7);
    /* background: url('./Drawings-of-raindrops-clipart.png') center no-repeat;
    background-size: cover; */
    z-index: 100;
}

.game-window__sea {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 30vh;
    background: url('./pngegg.png') top;
    background-size: cover;
    transition: height 1s;
}


/* Scoreboard */
.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.material-icons_gold {
    color: gold;
}


/* Keyboard */

.keyboard__body {
    background: #2c9fd4;
    border-radius: 7px;
}

.keyboard__display {
    text-align: right;
    cursor: pointer;
}

.keyboard__row {
    min-height: 40px;
}

.keyboard__button {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.4);
    border: 1px solid #2c9fd4;
    border-radius: 7px;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.keyboard__button:hover {
    background: rgba(0,0,0,.6);
}

/* Controls */
.control-buttons {
    margin: 20px 0 0 0;
}