.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    user-select: none;
    transition: bottom .4s;
}

.keyboard_hidden {
     bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    width: 6%;
    max-width: 90px;
    height: 45px;
    margin: 3px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}