$app-font: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $app-font;
    font-size: 13px;
    // background: url('./../images/bg1.jpg') no-repeat;
    background: #ffffff;
    background-size: cover;
}

#map-box {
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    min-width: 280px; 
    min-height: 300px;
}

.current-weather {
    &__temp {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 5rem;
        font-weight: bold;
        color: #3d3a3a;
    }

    &__desc {
        display: flex;
        flex-direction: column;

        font-size: 1.2rem;
    }
}